body{
    background-color: skyblue;
}

#formulario{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto; 
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}
