{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <title>Geoservice</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!-- Barra de navegación -->
        {% include 'nav.html' %}

        <!-- formulario para agregar un proyecto -->
        <div class="card" style="width: 18rem;" id="formulario">
            <div class="card-body">
                <h3 style="text-align: center;">Agregar Proyecto</h3>
    
                <form action="{% url 'guardarProyecto' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Año</label>
                        <input type="number" class="form-control" required id="exampleFormControlInput1" placeholder="Año" name="año">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre del proyecto</label>
                        <input type="text" class="form-control" required id="exampleFormControlInput1" placeholder="Nombre del proyecto" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Estado:</label>
                        <select class="form-select" aria-label="Default select example" name="estado" required>
                            <option selected>---</option>
                            <option value="Ejecucion">En ejecución</option>
                            <option value="Progreso">En progreso</option>
                            <option value="Terminado">Terminado</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Numero de orden/compra</label>
                        <input type="number" class="form-control" required id="exampleFormControlInput1" placeholder="Numero" name="num_compra">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Monto Final</label>
                        <input type="number" class="form-control" required id="exampleFormControlInput1" placeholder="Monto" name="monto_final">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" required rows="3" name="descripcion"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info">Agregar Proyecto</button>
                </form>
            </div>
        </div>
    </body>
</html>