{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoServices</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'nav.html' %}

    {% block content %}

    <div class="detalle-container">
        <div class="detalle-card">
            <div class="detalle-header">
                <h1>{{ proyecto.nombre }}</h1>
                <span class="estado estado-{{ proyecto.estado }}">
                    {{ proyecto.estado }}
                </span>
            </div>
            <hr>
            <div class="detalle-info">
                <div class="info-item">
                    <span class="info-label">Descripción</span>
                    <p>{{ proyecto.descripcion }}</p>
                </div>
                <div class="info-item">
                    <span class="info-label">Año</span>
                    <p>{{ proyecto.año }}</p>
                </div>
                <div class="info-item">
                    <span class="info-label">Estado</span>
                    <p>{{ proyecto.estado }}</p>
                </div>
            </div>
            <div class="detalle-footer">
                <a href="{% url 'proyectos' %}" class="btn-volver">
                    ← Volver a proyectos
                </a>
                <a href="{% url 'editar_proyecto' proyecto.id %}" class="btn btn-info">
                    Editar Proyecto
                </a>
                <a href="{% url 'eliminar_proyecto' proyecto.id %}" class="btn btn-danger">
                    Eliminar Proyecto
                </a>
            </div>
        </div>
    </div>

    {% endblock %}
    <script>
        const proyectoId = "{{ proyecto.id }}";

        setInterval(() => {

            fetch(`/proyecto/${proyectoId}/existe/`)
                .then(response => response.json())
                .then(data => {

                    if (!data.existe) {

                        alert("⚠️ Este proyecto ha sido eliminado por otro usuario.");

                        window.location.href = "{% url 'proyectos' %}";
                    }

                })
                .catch(error => {
                    console.error("Error comprobando el proyecto:", error);
                });

        }, 3000);
    </script>
</body>
</html>