<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{% url 'proyectos' %}"><h2>GeoService</h2></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="container-fluid">
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'agregarProyecto' %}" id="botonesA">Agregar</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Años
                            </a>
                            <ul class="dropdown-menu">
                                {% for año in años %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'proyectos' %}?año={{ año }}">
                                            {{ año }}
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>
                                        <span class="dropdown-item-text">
                                            No hay años disponibles
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
                <form class="d-flex" role="search" method="GET" action="{% url 'proyectos' %}">
                    <input 
                        class="form-control me-2" 
                        type="search" 
                        name="buscar"
                        placeholder="Buscar"
                        value="{{ buscar }}"
                        aria-label="Buscar"
                    >

                    <button class="btn btn-outline-success" type="submit">
                        Buscar
                    </button>
                </form>
        </div>
    </nav>